@import "skeleton-css/css/normalize.css";
@import "skeleton-css/css/skeleton.css";

main {
    padding: 1.5em 0;
}

header {
    & .headings {
        margin-top: 1rem;
    }

    & h1 {
        margin-bottom: 0;
        font-size: 4rem;
    }

    & h5 {
        font-size: 2rem;
    }

    & aside {
        width: 728px;
        height: 90px;
        float: right;
    }

    &::after {
        content: "";
        display: table;
        clear: both;
    }
}
